In [2]:
import csv

In [3]:
import pandas as pd
import numpy as np

In [4]:
import matplotlib.pyplot as plt
from pandas import *
import seaborn as sns
from matplotlib import rcParams
import datetime as dt

In [5]:
import os
import glob

In [6]:
df = pd.read_csv('C:/Users/a.guidi/Desktop/side_project/yellowtaxi/2016_Yellow_Taxi_Trip_Data.csv')

In [7]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,...,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,PULocationID,DOLocationID
0,1,06/06/2016 12:00:00 AM,06/06/2016 12:16:57 AM,1,6.60,-73.946548,40.785099,1,N,-73.923866,...,3,20.0,0.5,0.5,0.00,0.00,0.3,21.30,NaN,NaN
1,2,06/06/2016 12:00:00 AM,06/06/2016 12:00:00 AM,1,4.27,-73.952385,40.741501,2,N,-74.004097,...,1,52.0,0.0,0.5,0.00,5.54,0.3,58.34,NaN,NaN
2,2,06/06/2016 12:00:00 AM,06/06/2016 06:07:49 PM,1,2.02,-73.978745,40.750641,1,N,-73.997108,...,1,10.0,1.3,0.5,1.25,0.00,0.3,13.35,NaN,NaN
3,2,06/06/2016 12:00:01 AM,06/06/2016 12:04:05 AM,2,1.37,-73.980690,40.742210,1,N,-73.967842,...,1,6.0,0.5,0.5,1.82,0.00,0.3,9.12,NaN,NaN
4,1,06/06/2016 12:00:02 AM,06/06/2016 12:03:36 AM,1,0.90,-73.986794,40.756310,1,N,-73.976067,...,2,5.0,0.5,0.5,0.00,0.00,0.3,6.30,NaN,NaN

In [8]:
df.shape

(2626843, 21)

In [9]:
print(df.columns.tolist())

['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance', 'pickup_longitude', 'pickup_latitude', 'RatecodeID', 'store_and_fwd_flag', 'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'PULocationID', 'DOLocationID']

In [11]:
df = df.drop(df.index[(df['pickup_longitude'] == df['dropoff_longitude']) & (df['pickup_latitude'] == df['dropoff_latitude'])])

In [12]:
df['tpep_pickup_datetime'] = to_datetime(df['tpep_pickup_datetime'])

In [13]:
df['tpep_dropoff_datetime'] = to_datetime(df['tpep_dropoff_datetime'])

In [14]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,...,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,PULocationID,DOLocationID
0,1,2016-06-06 00:00:00,2016-06-06 00:16:57,1,6.60,-73.946548,40.785099,1,N,-73.923866,...,3,20.0,0.5,0.5,0.00,0.00,0.3,21.30,NaN,NaN
1,2,2016-06-06 00:00:00,2016-06-06 00:00:00,1,4.27,-73.952385,40.741501,2,N,-74.004097,...,1,52.0,0.0,0.5,0.00,5.54,0.3,58.34,NaN,NaN
2,2,2016-06-06 00:00:00,2016-06-06 18:07:49,1,2.02,-73.978745,40.750641,1,N,-73.997108,...,1,10.0,1.3,0.5,1.25,0.00,0.3,13.35,NaN,NaN
3,2,2016-06-06 00:00:01,2016-06-06 00:04:05,2,1.37,-73.980690,40.742210,1,N,-73.967842,...,1,6.0,0.5,0.5,1.82,0.00,0.3,9.12,NaN,NaN
4,1,2016-06-06 00:00:02,2016-06-06 00:03:36,1,0.90,-73.986794,40.756310,1,N,-73.976067,...,2,5.0,0.5,0.5,0.00,0.00,0.3,6.30,NaN,NaN

In [15]:
df = df.drop(df.index[(df.tpep_dropoff_datetime-df.tpep_pickup_datetime).astype('timedelta64[s]') < 95])

In [16]:
--2559609

2559609

In [17]:
df = df.drop(df.index[df.passenger_count == 0])
#ok

In [18]:
df.shape

(2556812, 21)

In [19]:
df[df['passenger_count'] > 1].count()

VendorID                 747125
tpep_pickup_datetime     747125
tpep_dropoff_datetime    747125
passenger_count          747125
trip_distance            747125
pickup_longitude         747125
pickup_latitude          747125
RatecodeID               747125
store_and_fwd_flag       747125
dropoff_longitude        747125
dropoff_latitude         747125
payment_type             747125
fare_amount              747125
extra                    747125
mta_tax                  747125
tip_amount               747125
tolls_amount             747125
improvement_surcharge    747125
total_amount             747125
PULocationID                  0
DOLocationID                  0
dtype: int64

In [20]:
df.groupby('passenger_count').size()

passenger_count
1    1809687
2     372610
3     107552
4      50783
5     134102
6      82075
7          2
8          1
dtype: int64

In [21]:
df2 = df

In [22]:
df2 = df2.loc[df2.index.repeat(df.passenger_count)]

In [23]:
df2.shape

(4243677, 21)

In [24]:
df2.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,...,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,PULocationID,DOLocationID
0,1,2016-06-06 00:00:00,2016-06-06 00:16:57,1,6.60,-73.946548,40.785099,1,N,-73.923866,...,3,20.0,0.5,0.5,0.00,0.0,0.3,21.30,NaN,NaN
2,2,2016-06-06 00:00:00,2016-06-06 18:07:49,1,2.02,-73.978745,40.750641,1,N,-73.997108,...,1,10.0,1.3,0.5,1.25,0.0,0.3,13.35,NaN,NaN
3,2,2016-06-06 00:00:01,2016-06-06 00:04:05,2,1.37,-73.980690,40.742210,1,N,-73.967842,...,1,6.0,0.5,0.5,1.82,0.0,0.3,9.12,NaN,NaN
3,2,2016-06-06 00:00:01,2016-06-06 00:04:05,2,1.37,-73.980690,40.742210,1,N,-73.967842,...,1,6.0,0.5,0.5,1.82,0.0,0.3,9.12,NaN,NaN
4,1,2016-06-06 00:00:02,2016-06-06 00:03:36,1,0.90,-73.986794,40.756310,1,N,-73.976067,...,2,5.0,0.5,0.5,0.00,0.0,0.3,6.30,NaN,NaN

In [25]:
df2 = df2.drop(df2.index[df2.passenger_count > 3])

In [27]:
df2.shape

(2877563, 21)